.contact__container{
    width:58%;
    display: grid;
    grid-template-columns: 30% 50%;
    gap:12%;
}


.contactMethods{
    display: flex;
    flex-direction: column;
    gap:1.2rem;


}


.contactMethod{
    background: var(--Background-V);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);



}


.contactMethod:hover{

    background: transparent;
    border-color: var(--Background-V);


}


.icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

}

.contactMethod a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;

}


form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

}


input,textarea{
    width: 100%;
    padding:1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--Background-V);
    resize:none;
    color: white;




}



@media screen and (max-width:1024px){
    .contact__container{
        grid-template-columns: 1fr;
        gap:2rem;
    }

    

}




@media screen and (max-width:600px){
    .contact__container{
        width:var(--Container-Width-SmallScreen)
    }
    
}

.Tlinks{
    display: flex;
    gap:1rem;
    justify-content: center;
}