.projects__container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 3.5rem;


}


.projectitem{
    background: var(--Background-V);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);


}

.projectitem:hover{
    border-color: var(--Background-C);
    background: #dda0dd;
}


.porjectimg{
    border-radius: 1.5rem;
    overflow: hidden;



}

.projectitem h3{
    margin: 1.2rem 0 2rem;

}


.TBUT
{
   display: flex;
   gap: 1rem; 
   margin-bottom: 1rem;

}


@media screen and (max-width:1024px){
    .projects__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    

}

#projects{
    height: 250vh;

}


@media screen and (max-width:600px){
    .projects__container{
        grid-template-columns: 1fr;
        gap:1.1rem;
    
    }

    #projects{
        height: 380vh;
}
    
    
    

}
