.about__container{
    display: flex;
    justify-content: center;


}





.imageofme{
    display: none;
    width: 25rem;
    border: 5rem;
    overflow: hidden;
    animation: rotate 15s linear infinite; /*new*/
}

 /*new*/
@keyframes rotate {
    from {
      transform: rotate(0deg); 
    }
    to {
      transform: rotate(17deg); 
    }
  }



#IMGG{

    position: absolute;
    bottom: -730px;
}

@media screen and (max-width:600px){
    .about__container{
        display: flex;
        grid-template-columns: 35% 70%;
        gap: 15%;
    
    
    }

}

#about{
    height: 50vh;
}






