.about__container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;


}


.aboutme{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    display: grid;
    place-items: center;

}

.imageofme{
    width: 25rem;
    border: 5rem;
    overflow: hidden;
    animation: rotate 15s linear infinite; /*new*/
}

 /*new*/
@keyframes rotate {
    from {
      transform: rotate(0deg); 
    }
    to {
      transform: rotate(17deg); 
    }
  }



#IMGG{

    position: absolute;
    bottom: -730px;
}

@media screen and (max-width:600px){
    .about__container{
        display: grid;
        grid-template-columns: 35% 70%;
        gap: 15%;
    
    
    }

}







